@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

#startingPane{
    -fx-background-image: url('../IMG/81+X70pOMNL.jpg');
}

#lbl1{
    -fx-font-size: 30;
    -fx-font-family: 'RocknRoll One', sans-serif; ;
}

#lbl2{
    -fx-text-inner-color: #ff0000;
    -fx-font-size: 30;
    -fx-font-family: 'RocknRoll One', sans-serif; ;
}

